.alert{
    position: absolute;
    padding: 0.5rem 1rem;
    right: 1rem;
    top: 6.3rem;
    background-color: var(--bg-color);
    font-weight: bold;
    animation: done 0.5s ease-in  1;
    transform: translateX(30rem);
    z-index: 10;
}

.success{
    color: #155724; 
    box-shadow: 0 0 1rem currentColor;
    background-color: #d4edda;
}

.success p{
    color: currentColor;
}

.danger{
    color: #721c24;
    box-shadow: 0 0 1rem currentColor;
    background-color: #f8d7da;
}
.danger p{
    color: currentColor;
}
.notdone{
    animation: notdone 5s ease-in 1;
}

@keyframes notdone {
    10%{
        transform: translateX(0rem);
    }
    80%{
        transform: translateX(0rem);
    }
    100%{
        transform: translateX(30rem);
    }
}
