.buttonsCon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.notesCon{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 40rem));
    grid-gap: 2rem;
    place-items: center;
    justify-content: center;
    padding: 1rem;
    max-width: 1200px;
    margin: 5rem auto;
}
