.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-bg-color);
    padding: 1rem 3rem;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}
.close-ul{
    display: none;
}
.menu-btn{
    display: none;
}
.leftNav, .rightNav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 0 0 -8rem; */
    transition: 0.8s all;
}
.navHeadCon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navHeadCon img{
    height: 4rem;
    filter: drop-shadow(0 0 5px var(--secondary-color));
    margin: 0 1rem 0 0;
}
.navHeadCon h1{
    font-size: 2.5rem;
}

.navbar ul li a{
    padding: 1rem;
    text-transform: capitalize;
}

.active{
    font-weight: bold;
    text-shadow: 0 0 20px currentColor;
    font-size: 1.7rem;
    transition: 0.5s all;
}
.activeBox{
    transition: 0.5s all;
    box-shadow: 0 0 10px currentColor;
}

.loginCon{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    transition: 0.5s all;
}

.logout:hover{
    filter: drop-shadow( 0 0 5px currentColor);
}

.searchCon{
    position: relative;
    margin: 0 1.5rem 0 0 ;

}

.searchCon svg{
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--link-color);
}

.searchCon input{
    padding: 0.5rem 1rem 0.5rem 3rem;
    border: none;
    transition: 0.51s all;
}

.searchCon input:focus{
    outline: none;
    border-radius: 3rem;
}

@media screen and (max-width: 600px) {
    .navbar{
        justify-content: center;
    }
    .navbar ul{
        margin: 0;
        flex-direction: column;
        position: absolute;
        width: 100%;
        left: 0;
        padding: 1rem;
        background-color: var(--bg-color);
        top: 0;
        height: 100vh;
        padding: 8rem 0 0 0 ;
        justify-content: start;
        transform: translateX(-100vw);
    }
    .navbar ul li {
        margin: 1rem 0;
    }
    .close-ul{
        display: block;
        color: var(--primary-color);
        position: absolute;
        top: 1.8rem;
        left: 3rem;
    }
    .menu-btn{
        color: var(--primary-color);
        display: block;
        position: absolute;
        top: 1.8rem;
        left: 3rem;
    }
    .rightNav{
        display: none;
    }
}


