.formCon{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--transparent-color);
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    left: 0;
    padding: 1rem 
}

form .formHeading svg{
    color: var(--secondary-color);
    position: absolute;
    right: 2rem;
    top: 3rem;
    height: 3rem;
    width: 5rem;
}
.formHeading svg:hover{
    cursor: pointer;
}